<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>ログイン</title>
	</head>
	<body>
		<div class="form-box">
			<form method="post" th:action="@{/login}" class="login-form">
				<div>
					<label for="userId"></label>
					<input type="text" name="userId" placeholder="ユーザーID">
				</div>
				<div>
					<label for="password"></label>
					<input type="password" name="password" placeholder="パスワード">
				</div>
				<input type="submit" value="ログイン">
			</form>
			<a th:href="@{/user/signup}">新規登録はこちら</a>
		</div>
	</body>
</html>